body{
    margin: 0;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    height: 12em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid white;
}

header img{
    max-width: 12em;
    max-height: 12em;
}

.oficial{
    color: white;
    font-style: italic;
    font-size: 3em;
    display: flex;
    text-align: center;
    font-family: raleway;
}

.search{
    display: flex;
    align-items: end;
    height: 100%;
    padding-bottom: 30px;
    padding-right: 70px;
}

.search button{
    width: 3em;
    height: 3em;
    background-position: center;
    background-image: url(img/lupa.png);
    background-size: cover;
    background-color: unset;
    border-radius: 50%;
    border: 2px solid;
}

form{
    display: flex;
    align-items: flex-end;
}

form input{
    background-color: unset;
    border: none;
    border-bottom: 1px solid white;
    font-style: italic;
    font-size: 1em;
    color: white;
    outline: none;
}

.search button:hover{
    cursor: pointer;
    border-top: solid 2px white;
    border-left: solid 2px white;
    
}
.menu{
    display: flex;
    width: 100%;
   justify-content: space-around;
    border-bottom: 2px ridge white;
    height: auto;
    
}

.menu a{
    text-decoration: none;
    color: white;
    font-family: Raleway;
    font-size: 2em;
    padding: 15px;
    font-style: italic;
    width: max-content;
}

.menu a:nth-child(1){
    color: greenyellow;
}

.menu a:hover{
    text-decoration: underline;
    color: greenyellow;
}



.content{
    padding-top: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    color: white;
    font-family: raleway;
    justify-content: center;
    font-size: 2em;
    font-style: italic;
    flex-direction: column;
    align-items: center;
}

.content input{
    width: 1.3em;
    height: 1.3em;
    background-color: white;

}

.content p{
    font-style: normal;
    font-size: 1rem;
}

.content p a{
    text-decoration: none;
    color: rgb(42, 105, 251);
    background-color: unset;
    border: none;
}

.content p a:hover{
    text-decoration: underline;
    color: rgb(42, 105, 251);
}

.spisok{
    display: flex;
    text-align: left;
    color: aliceblue;
    font-size: 0.7em;
    font-family: raleway;
}
.spisok li{
    padding-top: 5px;
}

.spisok li:nth-child(1){
   margin-left: 3em;
}

.spisok li:nth-child(4){
    margin-left: 3em;
}

.content a{
    padding: 5px;
    background-color: rgb(0, 109, 0);
    color: white;
    border: 3px solid white;
    border-radius: 15px;
    text-decoration: none;
    width: 3em;
    font-family: Roboto Slab;
    font-style: normal;
    margin-bottom: 3em;
}

.content a:hover{
    color: black;
    border-color: black;
}

.messi{
    background-size: cover;
    background-image: url(img/back.jpg);
    width: 70%;
    height: 15em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: raleway;
    border-top: 2px solid white;
    font-size: 1.3em;
    padding-top: 40px;
    padding-bottom: 40px;
}

hr{
    width: 60%;
}

.foot{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.questions{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: raleway;
    font-style: italic;
    font-size: 22px;
}

.questions a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-style: normal;
    width: max-content;
}

.questions a:hover{
    text-decoration: underline;
}

.images{
    display: flex;
    justify-content: center;

}

.images img{
    width: 3em;
    height: 3em;
    padding-right: 15px;
}

.info{
    width: 100%;
    display: flex;
    padding: 40px 0px;
    color: white;
    justify-content: space-evenly;
}

.foto{
    width: 100%;
    height: 70%;
    background-image: url(img/stray.jpg);
    background-size: cover;
}

.card{
    background-color: rgb(0, 0, 0);
    width: 14em;
    height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: raleway;
    align-items: center;
    text-align: center;
    border: 1px solid greenyellow;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px ;
    
}

.card h3, h5, h6{
    margin: 0;
}

h1{
    color: white;
    text-align: center;
    font-family: raleway;
    font-style: italic;
}