body{
    margin: 0;
    background-color: rgb(28, 28, 28);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

a{
    text-decoration: none;
    color: greenyellow;
    cursor: pointer;
}



header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

header img{
    max-width: 7em;
    max-height: 7em;
}

.oficial{
    color: white;
    font-size: 2em;
    display: flex;
    text-align: center;
    font-family: 'Roboto';
}

.nazv{
    color: white;
    display: flex;
    align-items: center;
}

.search{
    display: flex;
    align-items: end;
    height: 100%;   
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.search a img{
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.op{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    color: white;
}

.reg{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.search button{
    width: 2.2em;
    height: 2.2em;
    background-position: center;
    background-image: url(img/lupa.png);
    background-size: cover;
    background-color: unset;
    border-radius: 50%;
    
}

form{
    display: flex;
    align-items: flex-end;
}

form input{
    background-color: unset;
    border: none;
    border-bottom: 1px solid white;
    font-style: italic;
    font-size: 14px;
    color: white;
    outline: none;
}

.search button:hover{
    cursor: pointer;
    border-top: solid 2px white;
    border-left: solid 2px white;
    
}
.menu{
    display: flex;
    width: 40%;
    justify-content: space-between;
    border-bottom: 2px ridge white;
    height: auto;
    margin-bottom: 20px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-family: roboto;
    font-size: 16px;
    padding: 5px;
    width: max-content;
}

.menu a:nth-child(1){
    color: greenyellow;
}

.menu a:hover{
    text-decoration: underline;
    color: greenyellow;
}



.content{
    padding-top: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    color: white;
    justify-content: center;
    font-size: 2em;
    font-style: italic;
    flex-direction: column;
    align-items: center;
}

.first-disp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.big-text{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    text-align: left;
    color: white;
}

.big-text h1{
    margin-bottom: 0;
}

.big-text a{
    padding: 10px;
    font-size: 14px;
    background-color: greenyellow;
    color: black;
    font-weight: 700;
}

.information{
    background-image: url(img/BOOK-BAZAAR.jpg);
    background-size: contain;
    color: white;
    padding: 40px;
    width: 50%;
}

.top-content{
    display: flex;
    justify-content: space-between;
}

.blocks{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.littleblocks{
    display: flex;
    justify-content: space-between;
}

.blocha{
    padding: 10px 15px;
    background-color: rgba(28, 28, 28, 0.945);
    font-size: 14px;
    color: white;

}

.bigblock{
    background-color: rgba(28, 28, 28, 0.947);
    padding: 30px;
    border-top-right-radius: 30px;
    font-size: 16px;
}

.fotos{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.fotos img{
    height: 180px;
}

.bot-content{
    background-color: rgba(28, 28, 28, 0.962);
    margin-top: 20px;
    padding: 10px 15px 
}

footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    color: white;
    align-items: center;
    justify-content: center;
    font-family: raleway;
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

hr{
    width: 60%;
}

.foot{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.questions{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
}

.questions a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-style: normal;
    width: max-content;
}

.questions a:hover{
    text-decoration: underline;
}

.images{
    display: flex;
    justify-content: center;
}

.images img{
    width: 3em;
    height: 3em;
    padding-right: 15px;
}

.info{
    width: 100%;
    display: flex;
    padding: 40px 0px;
    color: white;
    justify-content: space-between;
}

.foto{
    width: 100%;
    height: 70%;
    background-image: url(img/king_stiven.jpg);
    background-size: cover;
}

.info .card:nth-child(2){
    background-image: url(img/psy.jpg);
    background-position: center;
}

.info .card:nth-child(3) {
    background-image: url(img/musk\ \(1\).jpg);
}

.info .card:nth-child(4) {
    background-image: url(img/adventure.jpg);
}

.card{
    background-image: url(img/fear.jpg);
    background-size: cover;
    width: 14em;
    height: 18em;
    display: flex;
    align-items: end;
    justify-content: center;
}

.card a{
    margin-bottom: 30px;
    border: 1px solid greenyellow;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.581);

}

.card a:hover{
    text-decoration: underline;
}




